
body{
    margin-top: 50px;
    justify-content: center;
}
form{
    width: 800px;
    margin-left: 400px;
    margin-right: 100px;
}
h2{
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.input{
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer{
    margin-top: 50px;
    text-align: center;
}